.container
  .row
    .col-md-2
      .infoGroup
        span.heading 
          | Toll Free:
        br
        span 800.467.4477
      .infoGroup
        span.heading 
          |Fax:
        br
        span 318.865.1408
    .col-md-4
      .infoGroup
        span.heading 
          | Address:
        br
        span 1120 S Pointe Pkwy
        br
        span Shreveport, LA 71105

  br
  iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3365.6062855345535!2d-93.70267299999999!3d32.48322100000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8631327ffee6ff05%3A0x28c4576253459581!2s1120+S+Pointe+Pkwy!5e0!3m2!1sen!2sus!4v1401033834681" width="600" height="450" frameborder="0" style="border:0")